*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

.caja{
    width: 13rem;
    height: 13rem;
    margin: 1rem;
    background-color: #6BD3B5;
    border-radius: 35px;
}

.caja_2{
    width: 13rem;
    height: 13rem;
    margin: 1rem;
    background-color: #0A0F33;
    border-radius: 35px;
}